@model Client.Models.MenuItem

@{
    ViewData["Title"] = "EditMenuItem";
}

<h1>EditMenuItem</h1>

<h4>MenuItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("EditMenuItem", "Menu", new { @menuId = Model.Id }, FormMethod.Post))
        {

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="@Model.Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FreeDelivery" value="@Model.FreeDelivery"/> @Html.DisplayNameFor(model => model.FreeDelivery)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" value="@Model.Price"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfLaunch" class="control-label"></label>
                <input asp-for="DateOfLaunch" class="form-control" value="@Model.DateOfLaunch"/>
                <span asp-validation-for="DateOfLaunch" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" value="@Model.Active"/> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" value="@Model.CategoryName"/>
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        }
    </div>
</div>



